body{
  text-align: center;
  font-family: Arial;
}

div.box, div.cell {
  display:inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

.incorrect {
  background-color: yellow;
}

.value_provided{
  background-color: #ddd;
}

button{
  margin-top:10px;
}

div.box{
  outline:2px solid green;
}
.flash {
  margin: 5px;
  color:red;
}